<head>
    <title>Product Form</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        #id_title {
            width: 100%;
        }
    </style>


</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ product_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#id_title').select2({
            ajax: {
                url: "{% url 'history_order:product-autocomplete' %}",
                dataType: 'json'
            }
        });
    });
    </script>

</body>





<div class="Header-search">
          <div class="search">
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

            <form class="form form_search" method="post" >
              {% csrf_token %}
<!--              <input class="search-input" id="id_title" name="id_title" "What are you looking for ..."/>-->
              <div class="search-input">{{product_form.as_p}}</div>

              <button class="search-button" type="submit" ><img src="{% static 'frontend/assets/img/icons/search.svg' %}" alt="search.svg"/>Search
              </button>

            </form>
                <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
                <script>
                $(document).ready(function() {
                    $('#id_title').select2({
                        ajax: {
                            url: "{% url 'history_order:product-autocomplete' %}",
                            dataType: 'json'
                        }
                    });
                });
    </script>
          </div>
        </div>